h1{
    text-align: center;
    color: maroon;
    background-color: pink;
}
.empcard{
    position: relative;
    float: left;
    height: 600px;
    width: 300px;
    border: solid 2px wheat;
    margin:5px 10px;
}
.empimg{
    padding: 10px;
    object-fit: fill;
    height: 200px;
    width: 275px;
}
.empcardc{
    padding: 5px;
    text-align: center;
}
.empcard h2{
    text-align: center;
    text-shadow: 2px 2px 2px grey;
}